<%-include ("header")-%> 

<h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique fugit voluptate veritatis facilis consequatur cum quam rerum neque id consectetur. Impedit cum cumque beatae ut fuga quia ducimus odit perspiciatis.</h1>


<%-include ("footer")-%> 